@charset "utf-8";
/**
* ----------------------------------------------------------------------
* 福州星科创想网络科技有限公司
* ----------------------------------------------------------------------
* COPYRIGHT © 2015-PRESENT STARSLABS.COM ALL RIGHTS RESERVED.
* ----------------------------------------------------------------------
* LICENSED: MIT [https://github.com/thankifu/oneue/blob/master/LICENSE]
* ----------------------------------------------------------------------
* AUTHOR: THANKIFU [i@thankifu.com]
* ----------------------------------------------------------------------
* RELEASED ON: 2019.11.15
* ----------------------------------------------------------------------
*/
/* 自定义 */
body{-moz-transition: all .5s ease;-o-transition:all .5s ease;-webkit-transition:all .5s ease;transition:all .5s ease;font-family:"Microsoft YaHei", tahoma, arial, \5b8b\4f53;}
.star-left{float:left;}
.star-right{float:right;}
.star-hidden{overflow:hidden;}
.star-absolute{position:absolute;}
.star-color{color:#4E27A4;}
.star-mt-10{margin-top:10px;}
.star-mt-20{margin-top:20px;}
.star-mt-30{margin-top:30px;}
.star-mt-30{margin-top:30px;}
.star-ml-10{margin-left:10px;}
.star-ml-20{margin-left:20px;}
.star-ml-30{margin-left:30px;}
.star-mr-10{margin-right:10px;}
.star-mr-20{margin-right:20px;}
.star-mr-30{margin-right:30px;}
.star-mb-10{margin-bottom:10px;}
.star-mb-20{margin-bottom:20px;}
.star-mb-25{margin-bottom:25px;}
.star-mb-30{margin-bottom:30px;}
.star-mnr{margin-right:0 !important;}
.star-red{color:#ff4954;}
.star-green{color:#3cd458;}
.star-orange{color:#f44236;}
.star-blue{color:#09c}
.star-gray{color:#f5f5f5;}
.star-bg-gray{background:#f5f5f5;}
.star-clear{clear:both;}
.star-text-left{text-align:left !important;}
.star-text-right{text-align:right !important;}
.star-text-center{text-align:center !important;}
.star-font-18{font-size:18px !important;}
.star-font-20{font-size:20px !important;}
.star-font-20{font-size:20px !important;}
.star-line-30{height:30px;line-height:30px;}
::-webkit-scrollbar{width:3px;height:3px;}
::-webkit-scrollbar-tarck{background:#ccc;}
::-webkit-scrollbar-thumb{background:#666;}

.star-toast{text-align:center;}
.star-toast i{font-size:24px;display:inline-block;vertical-align:middle;}
.star-toast span{display:inline-block;vertical-align:middle;}

